.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 3rem 2rem;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;

  gap: 3.5rem;

  > img {
    width: 245px;
  }

  @media screen and (min-width: 820px) {
    height: calc(100vh - 5rem);

    flex-direction: row;

    > img {
      width: auto;
    }
  }
}

.hero {
  max-width: 600px;

  text-align: center;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 3rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;
  }

  @media screen and (min-width: 600px) {
    text-align: left;

    h1 {
      font-size: 4.5rem;
    }
  }
}
